* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

.section-banner>.banner {
    background: #45c4b0;
    background: linear-gradient(45deg, #45c4b0 0%, #9aeba3 100%);
    height: 75vh;
    display: flex;
    justify-content: space-between;
}

.section-banner>.banner>div {
    width: 50%;
}

.section-banner>.banner>div>h2 {
    font-size: 5em;
    width: 100%;
    padding: 20vh 0 0 10%;
}

.section-banner>.banner>div>button {
    margin: 5vh 0 0 10%;
    background-color: #fff;
    padding: 16px 48px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-banner>.banner>div>button:hover {
    background-color: #ffffff00;
}

.section-banner>.banner>img {
    width: 50%;
}

.topics-banner {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}

.topics-banner>.topic {
    display: flex;
    justify-content: space-between;
}

.topics-banner>.topic>.topic-image {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(69, 196, 177, 0.63);
}

.topics-banner>.topic>.topic-image>img {
    height: 50px;
    padding: 10px;
}

.topics-banner>.topic>.topic-text {
    padding: 0 8%;
    text-align: justify;
}

.topics-banner>.topic>.topic-text>.topic-title {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 2vh;
}

.restaurantes-home {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
}

.restaurantes-home>h1 {
    font-size: 2.5em;
    padding-top: 5vh;
    text-align: center;
    color: #45c4b0;
}

.restaurantes-home>p {
    font-size: 1em;
    width: 60%;
    padding: 2vh 0 3vh;
    line-height: 3vh;
    margin: auto;
    text-align: center;
}

.lista-restaurantes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.lista-restaurantes>a {
    width: 25%;
    margin: 20px 50px;
}

.restaurantes-home>a {
    border: none;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #45c4b0;
    font-size: 1.4em;
    font-weight: 600;
    margin: 4vh auto 5vh;
    cursor: pointer;
}

.restaurantes-home>a>img {
    transform: rotate(180deg);
    height: 2em;
    padding-right: 20px;
}

.artigos {
    height: fit-content;
    margin-top: 15vh;
}

.artigos .blocoartigo {
    width: 100%;
    height: 70vh;
    background-color: #45c4b0;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.artigos .blocoartigo .imgFlatCategoria {
    height: 85vh;
    position: relative;
    bottom: 15vh;
    left: 10em;
}

.artigos .blocoartigo .campoartigo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    margin: auto 0;
    margin-left: 25em;
    width: 30%;
}

.artigos .blocoartigo .campoartigo h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 200;
    color: #ffffff;
}

.artigos .blocoartigo .campoartigo h3 strong {
    font-weight: 500;
}

.artigos .blocoartigo .campoartigo .descricaoartigo {
    color: #fff;
    width: 90%;
}

.artigos .blocoartigo .campoartigo .checkartigo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    transition: 0.2s;
    cursor: pointer;
}

.artigos .blocoartigo .campoartigo .checkartigo img {
    height: 2vh;
    margin-left: 20px;
}

.artigos .blocoartigo .campoartigo .checkartigo p {
    font-size: 1.2em;
    padding-left: 20px;
    color: #fff;
}

.artigos .blocoartigo .campoartigo .checkartigo:hover {
    transform: scale(1.1) translateX(20px);

}

.artigos .blocoartigo .campoartigo>.btn-todos-artigos {
    border: none;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 3vh;
    cursor: pointer;
}

.artigos .blocoartigo .campoartigo>.btn-todos-artigos>img {
    transform: rotate(180deg);
    height: 2em;
    padding-right: 20px;
}

.introducao {
    background-color: #000000d8;
    width: 80%;
    margin-left: auto;
    box-sizing: border-box;
    padding: 8vh 5%;
    margin-top: 10vh;
}

.introducao>p {
    color: #fff;
    padding: 1vh 0;
    text-align: justify;
    font-size: 1.2em;
    line-height: 3vh;
    letter-spacing: 1px;
    text-indent: 50px;
}

.sugestoes {
    background-color: #eeeeee;
    width: 90%;
    margin: 10vh auto 0;
    box-sizing: border-box;
    padding: 5vh 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugestoes>.sugestoes-textos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #646464;
    padding-right: 50px;
    box-sizing: border-box;
}

.sugestoes>.sugestoes-textos>h2 {
    font-size: 2em;
}

.sugestoes>.sugestoes-textos>p {
    font-size: 1.1em;
    padding-top: 2vh;
}

.sugestoes>.sugestoes-inputs {
    width: 50%;
}

.sugestoes>.sugestoes-inputs>input {
    width: 90%;
    padding: 1vh 3%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
}

.sugestoes>.sugestoes-inputs>textarea {
    margin: 0;
    padding: 1vh 3%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    resize: none;
    height: 10vh;
    margin-top: 2vh;
    width: 90%;
    outline: none;
}

.sugestoes>.sugestoes-inputs>button {
    width: 30%;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding: 1vh 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .2s;
    margin-left: 60%;
}

.sugestoes>.sugestoes-inputs>button:hover {
    background-color: #00000000;
    color: #000;
}

.parceiros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parceiros>h1 {
    font-size: 2.5em;
    padding-top: 5vh;
    text-align: center;
    color: #000000;
}

.parceiros>p {
    font-size: 1em;
    width: 60%;
    padding: 0 0 3vh;
    line-height: 3vh;
    margin: auto;
    text-align: center;
    color: #7c7c7c;
}

.parceiros>.line {
    width: 50%;
    height: 2px;
    background-color: #45c4b0;
}

.parceiros>.marcas {
    display: flex;
    justify-content: center;
}

.parceiros>.marcas>img {
    height: 7vh;
    margin: 4vh 4vh 8vh;
    transition: 0.3s;
}

.parceiros>.marcas>img:hover {
    transform: scale(1.05);
}