.blog {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.blog>.search-area {
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/6640534-natureza-de-folha-verde-no-jardim-no-verao-folhas-verdes-naturais-plantas-usando-como-fundo-primavera-pagina-de-capa-verde-ambiente-ecologia-limao-verde-papel-de-parede-gratis-foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    border-radius: 0 0 15px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog>.search-area>h1 {
    color: #000000;
    font-size: 2.5em;
    text-shadow: 0px 2px 6px rgba(194, 194, 194, 0.84);
    text-align: center;
    margin-top: 6vh;
}

.blog>.search-area>p {
    color: #ffffff;
    font-size: 1.5em;
    text-shadow: 0px 4px 10px rgba(122, 122, 122, 0.84);
    font-weight: 500;
    text-align: center;
    margin-top: 2vh;
}

.categoria-artigos {
    width: 20%;
    position: fixed;
    margin-top: 5vh;
    margin-left: 5%;
}

.categoria-artigos>li {
    padding: 1vh 0;
    padding-left: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .1s;
    border-right: 4px solid #fff;
}

.categoria-artigos>li:hover {
    background-color: #45c4b163;
    border-right: 4px solid #45c4b0;
}

.categoria-artigos>.categoria-ativa {
    background-color: #45c4b163;
    border-right: 4px solid #45c4b0;
}

.artigos-blog {
    width: 72%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5vh;
}

.artigos-blog>.artigo-individual-blog {
    width: 30%;
    height: fit-content;
    background-color: #ffffff;
    margin: 5vh 0 0;
    box-shadow: 0px 4px 10px -1px rgba(134, 134, 134, 0.5);
    transition: 0.4s;
    cursor: pointer;
    color: #000;
}

.artigos-blog>.artigo-individual-blog:hover {
    transform: translateY(-10px);
}

.artigos-blog>.artigo-individual-blog>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
}

.artigos-blog>.artigo-individual-blog>div {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artigos-blog>.artigo-individual-blog>div>span {
    background-color: #9aeba38e;
    padding: 5px 15px;
    width: fit-content;
    color: #000;
}

.artigos-blog>.artigo-individual-blog>div>h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

.artigos-blog>.artigo-individual-blog>div>h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: 300;
}

.artigos-blog>.artigo-individual-blog>div>button {
    width: fit-content;
    background-color: #45c4b100;
    border: 2px solid #45c4b0;
    color: #45c4b0;
    padding: 5px 15px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.artigos-blog>.artigo-individual-blog>div>button>img {
    height: 2vh;
    padding-left: 10px;
}